body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40% ;
   float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100% ;
}
.top-banner{
    background-image: url("images2/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px ;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.dream-area{
    background-image: url("images2/dream-bg.png");
    background-repeat: no-repeat;
    background-position-x: right;
}
.color{
    color: orange;
}
.single-experiance{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 70%;
}
.experiance-area{
    background-image: url("images2/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-color: white;
}
#full-stack{
    border-left: 7px solid ;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}
#full-stack2{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#copy{
    text-align: center;
}